.hljs .parent-container-of-pre {
  display: grid; /* in order { overflow-x: auto; } works in child <pre> */
}

.hljs .code-line {
  min-width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: -12px;
  margin-right: -12px;
  border-left: 4px solid transparent; /* prepare for highlighted code-lines */

  display: inline-block;
}

.hljs .highlighted-code-line {
  background-color: #504945;
  border-left: 4px solid var(--color-accent);
}

.hljs .numbered-code-line::before {
  content: attr(data-line-number);

  margin-left: -8px;
  margin-right: 24px;
  width: 1rem;
  color: var(--color-code-foreground);
  text-align: right;

  display: inline-block;
}
