ul.mdx li::before {
  content: '■';
  position: absolute;
  margin-left: -1.5rem;
  margin-top: 0.2rem;
  font-size: 11px;
  color: var(--color-muted-foreground);
}

.with-anchors .mdx-anchor {
  position: relative;

  &::before {
    position: absolute;
    content: '#';
    right: 0;
    color: var(--color-muted);
  }

  &:hover {
    &::before {
      text-decoration: underline;
      text-decoration-style: dashed;
      text-decoration-thickness: 2px;
    }
  }
}

[id] {
  scroll-margin-top: 80px;
}
